/*Card*/

.styleCard {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #495e57;
  margin: 12px 12px;
}

.styleCardContent {
  padding: 4px 16px 20px 16px;
}

.styleImage {
  background-color: lightGray;
  border-radius: 8px 8px 0 0;
  max-height: 140px;
  overflow: hidden;
}

.styleCardTitle {
  font-family: Avenir-Heavy;
  font-size: 20;
  font-weight: 600;
  margin: 12px 0px 0px 0px;
  color: #495e57;

}

.stylePrice {
  color: #495e57;
  font-size: 14;
  margin: 4px 0;
}

.styleDescription {
  color: #495e57;
  font-size: 14;
  margin: 8px 0 0 0;
}
